
.site-ad-bar {
  background: url("img/10.jpg") no-repeat center;
  height: 100px;
  padding: 0px;
}

.logo {
  background: url("img/mi-logo.png") no-repeat center;
  height: 49px;
}

.font {
  font-size: 20px;
}

.left1 {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 13.45px 30px;
}


.bg-hui {
  background-color: #9A9B8B;
  font-size: 15px;
  text-align: center;
  color: black;
  padding: 10px;
}

.cart {
  max-height: 400px;
  width: 400px;
  overflow-y: auto;
}

.nav-item{
  padding: 15px;
  cursor: pointer;
}

ul li{
  list-style: none;
}
a:link{
  text-decoration: none;
}
.nav-collapse{
  float: left;
  margin: 30px;
}
.img-thumbnail{
  width: 200px;
}
.tab-content p,p span{
  color: red;
}
.text-hui{
  color: #9d9d9d;
}
.carousel-inner p{
  color: #9d9d9d ;
  font-size: 10px;
  width: 180px;
  margin-left: 20px;
}

